@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600;700;800;900&family=Nunito:wght@600;700;900&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif !important;
}

section {
    margin-left: 7%;
    margin-right: 7%;
}

/*-------------------Navebar---------------------*/

#navbar {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 1;
}

.head-h5 {
    font-size: 14px;
    font-weight: 900;
    color: #12265a;
}

.nav-header {
    justify-content: center;
}

.kids-text {
    font-size: 28px;
    font-weight: 900;
    color: #fa9db7;
}

li {
    padding: 25px;
}

.nav-header-text {
    color: #12265a;
    font-weight: 900;
    font-size: 1.1rem;
    text-decoration: none;
}

.nav-header-text:hover {
    color: #12265a;
    background: #ffc85b;
    padding: 8px;
    border-radius: 5px;
}


/* -----------------------HOME------------------------- */

.background-image {
    background-image: url(../Kids-Zone/images/school.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 180px;
    padding-bottom: 180px;
}

.font-nunito {
    font-family: 'Nunito', sans-serif;
}

.text-subtitle-h3 {
    background-color: #79c8e8;
    color: #fff;
    font-size: 0.8rem;
    padding: 8px;
    font-weight: 900;
    border-radius: 5px;
    display: inline-block;
}

.text-subtitle-h1 {
    font-size: 4.5rem;
    color: #12265a;
    font-weight: 900;
    line-height: 1.1;
    letter-spacing: -2;
}

.text-subtitle-p {
    color: #70747f;
    font-family: 'Mulish', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 1.3rem;
    line-height: 2rem;
}

.readmore-btn {
    background-color: #ffc85b;
    border: none;
    color: #ffffff;
    padding: 10px;
    border-radius: 30px;
    font-weight: 900;
    font-size: 15px;
    width: 9rem;
    letter-spacing: 0;
}

.readmore-btn:hover {
    background-color: #79c8e8;
}

/* .curve-svg{
    fill: #fff;
    position: absolute;
    bottom:-14;
}

@media only screen and (max-width: 1012px)  {
    .curve-svg{
        fill: #fff;
        position: absolute;
        bottom:48px;
    }
} */


/* -----------------------About----------------------- */

.img-children {
    width: 95%;
    height: 95%;
    margin-top: 20px;
    border-radius: 30px;
    border: 2px dashed #fa9db7;
    /* margin:-50px 0 0 -50px; */
}

.about-h1 {
    margin-top: 30px;
    font-size: 2.5rem;
    color: #12265a;
    font-weight: 900;
    line-height: 1.1;
    margin-bottom: 0rem;
    position: relative;
}

/* 
.about-h1::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 42%;
    height: 50%;
    background-color: #fac3d2;
    z-index: -10;
    display: inline-block;
}

.enter-color::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 44%;
    height: 50%;
    background-color: #fdd990;
    z-index: -10;
    display: inline-block;
} */

.about-color {
    background-color: #fad1dc;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
    display: inline-block;
}

.enter-color {
    background-color: #fadc9f;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
    display: inline-block;
}

.about-p {
    font-family: 'Mulish', sans-serif;
    color: #70747f;
    font-size: 1rem;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 0;
}

@media (max-width: 768px) {
    .about-text-cen {
        text-align: center;
    }
}


/*------------------------card---------------------------------------*/


.card h4 {
    margin-top: 20px;
    color: #fff;
    font-size: 1.75rem;
    font-weight: 900;
}

.card p {
    font-family: 'Mulish', sans-serif;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0;
}

.card h5 {
    margin-top: 8px;
    margin-bottom: 30px;
    font-family: 'Mulish', sans-serif;
    color: #fff;
    font-size: 1rem;
    font-weight: 800;
}

.card-1 {
    background-color: #fa9db7 !important;
    border-radius: 25px !important;

}

.card-2 {
    background-color: #45b3df !important;
    border-radius: 25px !important;
}

.card-3 {
    background-color: #ffc85b !important;
    border-radius: 25px !important;
}


/*--------------------------------------SCHOOL-------------------------------------*/

.school-card {
    display: flex;
    flex-direction: row;
    height: max-content;
}

.item-image img {
    width: 60%;
    height: max-content;
}

@media (max-width: 768px) {
    .school-card {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: max-content;
    }

    .item-image img {
        width: 15%;
        height: max-content;
    }
}

.card-box h4 {
    font-size: 1.75rem;
    font-weight: 900;
    color: #12265a;
}

.card-box p {
    font-size: 1rem;
    font-family: 'Mulish', sans-serif;
    color: #70747f;
    line-height: 2;
    letter-spacing: 0;
    font-weight: 400;
}

.card-box h4:hover {
    color: #fa9db7;
    transition: 0.4s;
    cursor: pointer;
}


/*---------------------------Number-Part-----------------------------*/

.number-text h1 {
    color: #fff;
    font-size: 3rem;
    font-weight: 900;
}

.number-text h3 {
    color: #fff;
    font-size: 1.75rem;
    font-weight: 900;
}

.color-row {
    background-color: #88d4f2;
    padding-top: 100px;
    padding-bottom: 100px;
    border-radius: 30px;
}

/*----------------------------------GALLERY-----------------------------*/

.gal-image img {
    width: 95%;
    height: 95%;
    border-radius: 30px;
    cursor: pointer;
}

.gal-image img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 1s;
    border: 2px solid #fa9db7;
}

/*---------------------------------Section-Boxes-----------------------------*/

.text-boxes {
    background-color: #fff;
    border: 3px dashed #fa9db7;
    border-radius: 25px;
    padding: 30px;
}

.text-boxes::selection {
    color: #fff;
    background-color: #fa9db7;
}

.text-boxes h2 {
    font-size: 1.75rem;
    font-weight: 900;
    color: #12265a;
}

.text-boxes h2:hover {
    color: #fa9db7;
    transition: 0.4s;
    cursor: pointer;
}